src/government/files/11-11schema.xml

<xsd:schema xmlns="www.fincen.gov/base" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:fc2="www.fincen.gov/base" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="www.fincen.gov/base" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1" xsi:schemaLocation="www.fincen.gov/base https://www.fincen.gov/sites/default/files/schema/base/BSA_XML_2.0.xsd">
<!--  Redefine START  -->
<xsd:redefine schemaLocation="https://www.fincen.gov/sites/default/files/schema/base/BSA_XML_2.0.xsd">
<xsd:complexType name="EFilingSubmissionXMLType">
<xsd:complexContent>
<xsd:restriction base="EFilingSubmissionXMLType">
<xsd:sequence>
<xsd:element name="SubmitterElectronicAddressText" type="RestrictString500"/>
<xsd:element name="SubmitterEntityIndivdualLastName" type="RestrictString150"/>
<xsd:element name="SubmitterIndivdualFirstName" type="RestrictString100"/>
</xsd:sequence>
<xsd:attribute name="SeqNum" type="xsd:long" use="required"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ActivityType">
<xsd:complexContent>
<xsd:restriction base="ActivityType">
<xsd:sequence>
<xsd:element name="ApprovalOfficialSignatureDateText" type="DateYYYYMMDDType" minOccurs="0"/>
<xsd:element name="EFilingPriorReportingCompanyIdentificationNumberText" type="RestrictString25" minOccurs="0"/>
<xsd:element name="EFilingPriorReportingCompanyIdentificationTypeCode" type="ValidateReportingCompanyIdentificationCodeType" minOccurs="0"/>
<xsd:element name="EFilingPriorReportingCompanyIssuerCountryCodeText" type="RestrictString2" minOccurs="0"/>
<xsd:element name="EFilingPriorReportingCompanyName" type="RestrictString150" minOccurs="0"/>
<xsd:element name="FilingDateText" type="DateYYYYMMDDOrBlankType"/>
<xsd:element name="OneorMoreBeneficialOwnersUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="OneorMoreCompanyApplicantsUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="SeqNum" type="xsd:long" use="required"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ActivityAssociationType">
<xsd:complexContent>
<xsd:restriction base="ActivityAssociationType">
<xsd:sequence>
<xsd:element name="CorrectsAmendsPriorReportIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="InitialReportIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="ReportingCompanyBecameExemptIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="UpdatePriorReportIndicator" type="ValidateIndicatorType" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="SeqNum" type="xsd:long" use="required"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="PartyType">
<xsd:complexContent>
<xsd:restriction base="PartyType">
<xsd:sequence>
<xsd:element name="ActivityPartyTypeCode" type="ValidateActivityPartyCodeType"/>
<xsd:element name="BirthDateUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="ExemptIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="ExistingReportingCompanyIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="FinCENID" type="RestrictLong12" minOccurs="0"/>
<xsd:element name="FirstRegistrationLocalTribalCodeText" type="RestrictString150" minOccurs="0"/>
<xsd:element name="FirstRegistrationStateCodeText" type="RestrictString3" minOccurs="0"/>
<xsd:element name="FormationCountryCodeText" type="RestrictString2" minOccurs="0"/>
<xsd:element name="FormationLocalTribalCodeText" type="RestrictString150" minOccurs="0"/>
<xsd:element name="FormationStateCodeText" type="RestrictString3" minOccurs="0"/>
<xsd:element name="IndividualBirthDateText" type="DateYYYYMMDDOrBlankType" minOccurs="0"/>
<xsd:element name="OtherFirstRegistrationLocalTribalText" type="RestrictString150" minOccurs="0"/>
<xsd:element name="OtherFormationLocalTribalText" type="RestrictString150" minOccurs="0"/>
<xsd:element name="ParentOrLegalGuardianForMinorChildIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="RequestFinCENIDIndicator" type="ValidateIndicatorType" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="SeqNum" type="xsd:long" use="required"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AddressType">
<xsd:complexContent>
<xsd:restriction base="AddressType">
<xsd:sequence>
<xsd:element name="AddressTypeUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="BusinessAddressIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="CityUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="CountryCodeUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="RawCityText" type="RestrictString50" minOccurs="0"/>
<xsd:element name="RawCountryCodeText" type="RestrictString2" minOccurs="0"/>
<xsd:element name="RawStateCodeText" type="RestrictString3" minOccurs="0"/>
<xsd:element name="RawStreetAddress1Text" type="RestrictString100" minOccurs="0"/>
<xsd:element name="RawZIPCode" type="RestrictString9" minOccurs="0"/>
<xsd:element name="ResidentialAddressIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="StateCodeUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="StreetAddressUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="ZIPCodeUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="SeqNum" type="xsd:long" use="required"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="OrganizationClassificationTypeSubtypeType">
<xsd:complexContent>
<xsd:restriction base="OrganizationClassificationTypeSubtypeType">
<xsd:sequence>
<xsd:element name="OrganizationTypeID" type="ValidateOrganizationCodeType"/>
</xsd:sequence>
<xsd:attribute name="SeqNum" type="xsd:long" use="required"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="PartyIdentificationType">
<xsd:complexContent>
<xsd:restriction base="PartyIdentificationType">
<xsd:sequence>
<xsd:element name="IssuerCountryUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="IssuerLocalTribalCodeText" type="RestrictString150" minOccurs="0"/>
<xsd:element name="IssuerStateUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="IssuerTribalUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="OriginalAttachmentFileName" type="RestrictString250" minOccurs="0"/>
<xsd:element name="OriginalAttachmentFileNameUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="OtherIssuerCountryText" type="RestrictString2" minOccurs="0"/>
<xsd:element name="OtherIssuerLocalTribalText" type="RestrictString150" minOccurs="0"/>
<xsd:element name="OtherIssuerStateText" type="RestrictString3" minOccurs="0"/>
<xsd:element name="PartyIdentificationNumberText" type="RestrictString25" minOccurs="0"/>
<xsd:element name="PartyIdentificationNumberTextUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="PartyIdentificationTypeCode" type="ValidatePartyIdentificationCodeType" minOccurs="0"/>
<xsd:element name="PartyIdentificationTypeCodeUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="SeqNum" type="xsd:long" use="required"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="PartyNameType">
<xsd:complexContent>
<xsd:restriction base="PartyNameType">
<xsd:sequence>
<xsd:element name="EntityLastNameUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="FirstNameUnknownIndicator" type="ValidateIndicatorType" minOccurs="0"/>
<xsd:element name="PartyNameTypeCode" type="ValidatePartyNameCodeType" minOccurs="0"/>
<xsd:element name="RawEntityIndividualLastName" type="RestrictString150" minOccurs="0"/>
<xsd:element name="RawIndividualFirstName" type="RestrictString50" minOccurs="0"/>
<xsd:element name="RawIndividualMiddleName" type="RestrictString50" minOccurs="0"/>
<xsd:element name="RawIndividualNameSuffixText" type="RestrictString50" minOccurs="0"/>
<xsd:element name="RawPartyFullName" type="RestrictString150" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="SeqNum" type="xsd:long" use="required"/>
</xsd:restriction>
</xsd:complexContent>
</xsd:complexType>
</xsd:redefine>
<!--  Redefine END  -->
<!--  BOIR START  -->
<xsd:element name="EFilingSubmissionXML">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="EFilingSubmissionXMLType">
<xsd:sequence>
<xsd:element ref="Activity"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:unique name="Unique-SeqNum">
<xsd:selector xpath=".//*"/>
<xsd:field xpath="@SeqNum"/>
</xsd:unique>
</xsd:element>
<xsd:element name="Activity">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="ActivityType">
<xsd:sequence>
<xsd:element name="ActivityAssociation" type="ActivityAssociationType"/>
<xsd:element ref="Party" minOccurs="0" maxOccurs="199"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="Party">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="PartyType">
<xsd:sequence>
<xsd:element name="PartyName" type="PartyNameType" minOccurs="0" maxOccurs="100"/>
<xsd:element name="Address" type="AddressType" minOccurs="0"/>
<xsd:element name="PartyIdentification" type="PartyIdentificationType" minOccurs="0" maxOccurs="2"/>
<xsd:element name="OrganizationClassificationTypeSubtype" type="OrganizationClassificationTypeSubtypeType" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<!--  BOIR END  -->
<!--  Validation START  -->
<xsd:simpleType name="ValidateIndicatorType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="Y"/>
<xsd:enumeration value=""/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="DateYYYYMMDDType">
<xsd:restriction base="xsd:string">
<xsd:pattern value="(19|20)[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[01])"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="DateYYYYMMDDOrBlankType">
<xsd:restriction base="xsd:string">
<xsd:pattern value="(19|20)[0-9][0-9](0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[01])|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString2">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="2"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString3">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="3"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString4">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="4"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString6">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="6"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString9">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="9"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString12">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="12"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictLong12">
<xsd:restriction base="xsd:long">
<xsd:totalDigits value="12"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString16">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="16"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString20">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="20"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString25">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="25"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString50">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="50"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString100">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="100"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString150">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="150"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString250">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="250"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="RestrictString500">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="500"/>
<xsd:pattern value="\S+( +\S+)*|"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ValidateActivityPartyCodeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="62">
<xsd:annotation>
<xsd:documentation>Reporting Company</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="63">
<xsd:annotation>
<xsd:documentation>Company Applicant</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="64">
<xsd:annotation>
<xsd:documentation>Beneficial Owner</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ValidateOrganizationCodeType">
<xsd:restriction base="xsd:int">
<xsd:enumeration value="19">
<xsd:annotation>
<xsd:documentation>Foreign pooled investment vehicle</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ValidatePartyNameCodeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="L">
<xsd:annotation>
<xsd:documentation>Legal name</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="DBA">
<xsd:annotation>
<xsd:documentation>Doing business as (DBA)</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ValidatePartyIdentificationCodeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1">
<xsd:annotation>
<xsd:documentation>SSN/ITIN</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="2">
<xsd:annotation>
<xsd:documentation>EIN</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="37">
<xsd:annotation>
<xsd:documentation>State issued driver's license</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="38">
<xsd:annotation>
<xsd:documentation>State/Local/Tribe issued ID</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="39">
<xsd:annotation>
<xsd:documentation>US Passport</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="40">
<xsd:annotation>
<xsd:documentation>Foreign Passport</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="9">
<xsd:annotation>
<xsd:documentation>Foreign</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="ValidateReportingCompanyIdentificationCodeType">
<xsd:restriction base="xsd:string">
<xsd:enumeration value="1">
<xsd:annotation>
<xsd:documentation>SSN/ITIN</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="2">
<xsd:annotation>
<xsd:documentation>EIN</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="9">
<xsd:annotation>
<xsd:documentation>Foreign</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SubmissionFileNameType">
<xsd:restriction base="xsd:string">
<xsd:maxLength value="500"/>
<xsd:pattern value="|[A-z0-9_!@#$%\(\)\.=\+\[\]\{\}\|;~\- ]+\.(pdf|PDF|xml|XML)"/>
</xsd:restriction>
</xsd:simpleType>
<!--  Validation END  -->
</xsd:schema>